<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    svg{
      position:absolute;
    }
    </style>
  </head>
  <body>
    <div id=main>
      <div>

                 <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
                <script src='/javascripts/main.js'></script>
  </body>


</html>
