<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        svg {
            position: absolute;
        }
    </style>
</head>
<body>
<div id=main>
    <div>
    </div>
</div>

</body>


</html>
