<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body>
<div id=main>
    <div>
    </div>
</div>

<canvas id="myCanvas" width="1200" height="1000" style="border:1px solid #c3c3c3;">
    Your browser does not support the canvas element.
</canvas>

<script src='../javascripts/cat.js'></script>
</body>


</html>
